body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8rem;
  height: 100%;
}

.img1 {
  background-image: url(./img/bg.jpg);
  min-height: 100%;
}

.img2 {
  background-image: url(./img/bg2.jpg);
  min-height: 80%;
}

.img3 {
  background-image: url(./img/bg3.jpg);
  min-height: 80%;
}
.img4 {
  background-image: url(./img/bg4.jpg);
  min-height: 80%;
}

.img1,
.img2,
.img3,
.img4 {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 30%;
  margin: auto;
}

.logo {
  display: flex;
}

section {
  text-align: center;
  padding: 3rem 5rem;
}

.section1 {
  background-color: rgb(241, 241, 241);
  color: #666;
}

.section2 {
  background-color: #282e34;
  color: #ddd;
}

.head-big {
  display: flex;
  background-color: black;
  color: white;
  outline: 0.5rem inset purple;
  outline-offset: 1rem;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  line-height: 3rem;
  padding: 2rem;
}

.head-small {
  display: flex;
  background-color: black;
  color: white;
  outline: 0.4rem inset purple;
  outline-offset: 0.2rem;
  line-height: 3rem;
  border-top-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  padding: 0.7rem;
  font-size: 3rem;
  letter-spacing: 0.5rem;
}

span {
  margin: auto;
}

@media (max-width: 760px) {
  .head-big {
    display: flex;
    font-size: 2rem;
    outline: 0.4rem inset purple;
    outline-offset: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    letter-spacing: 0.5rem;
    line-height: 2rem;
    padding: 1rem;
  }

  .head-small {
    outline: 0.2rem inset purple;
    outline-offset: 0.1rem;
    line-height: 1.5rem;
    border-top-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    padding: 0.3rem;
    font-size: 2rem;
    letter-spacing: 0.5rem;
  }
  section {
    font-size: 0.9rem;
  }
}

@media (max-width: 568px) {
  .img1,
  .img2,
  .img3,
  .img4 {
    background-attachment: scroll;
  }
}
